<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Test posting data</title>
        

</head>
<body>

{% if error_message %}
<h1>{{error_message}}</h1>
{% endif %}
<span>This is a valid form</span>
<form action="" method="post">
{% csrf_token %}
<input type="text" name="name">
<input type="submit" value="POST">    
</form>


<div>
<span>This is an invalid form</span>    
<form action="" method="post">
{% csrf_token %}
<input type="text" name="something_else">
<input type="submit" value="POST">    
</form>

</div>   
</body>
</html>