<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Test variables</title>
        

</head>
<body>
<span> Test page for variables</span> 

{% if test_var %}
<span>Some variables were passed in!</span>


<div>Here is a link, to demonstrate relative links 
    <a href="{% url t_p:simple_date_time %}"> TEST</a></div>
    
{% else %}
<span>No variables were passed in </span>

{% endif %}

   
</body>
</html>
