<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Links</title>
        

</head>
<body>

<p>
<a href="{% url t_p:simple_date_time %}"> test1a</a>
</p>
<a href="{% url t_p:simple_404 %}"> test1b</a>

<p>
<a href="{% url t_p:template_simple %}"> test2a</a>
</p>

<p>
<a href="{% url t_p:template_variables_nar %}"> test2b</a>
</p>

<p>
<a href="{% url t_p:template_variables_bar %}"> test2c</a>
</p>

<p>  
<a href="{% url t_p:post_simple %}"> test3a</a>
</p>

<p><a href="{% url t_p:post_db_1 %}"> test3b</a>
</p>

<p>
<a href="{% url t_p:boiler_index %}"> boiler_index</a>
</p>

<p>
<a href="{% url t_p:boiler_extend_frame %}"> boiler_extend_frame</a>
</p>


</body>
</html>






